@media screen and (min-width:0) and (max-width:767px) {
    .products-list-horizontal{
        li{
            width:100%;     

            .btn{
                display: block;
            }   
        } 
    }

    .hbx-counter{
        position: relative;
        margin: 15px 0;
        top:auto;
    }

    #related-products{
        padding: 0 10px;
        box-sizing: border-box;
    }
}

@media screen and (min-width:0) and (max-width:479px) {}

@media screen and (min-width:768px) and (max-width:1023px) {
    .products-list-horizontal{
        li{
            width:calc(50% + 1px);

            .btn{
                display: block;
            }   
        } 
    }

    .hbx-counter{
        position: relative;
        margin: 15px 0;
        top:auto;
    }
}

@media screen and (min-width:1024px) and (max-width:1240px) {
    .products-list-horizontal{
        li{
            width:calc(33.333333% + 1px);
        } 
    }
}
