/****************
    VARIABLES
****************/

/**** TEXT *****/
$text_family: 'Roboto', sans-serif;
$text_weight: normal;
$text_color: #4d4d4d;
$text_size: 13px;

$h1_family: 'Roboto Condensed', sans-serif;
$h1_weight: bold;
$h1_size: 32px; 